page-home {
  font-family: 'Teko';
  .wt {
    color: #fff !important;
  }
  .toolbar-title {
    font-weight: 700;
  }
  .coinicon {
    width: 40px;
    height: 40px;
  }
  .name {
    margin: 10px;
    margin-right: 0;
  }
  .searchbar-input {
    color: #222 !important
  }

}
